@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
<h1>The Joel Hilton Film Collection</h1>

<div>
    <p>Today is your lucky day</p>
</div>

<img src="~/img/JoelHiltonHeadshot.jpg" />
<br />

